# Include the file with the list of dependencies with fixed versions that should not be automatically updated.
-r requirements.locked

# Build dependencies
build==1.2.2
setuptools==75.6.0; python_version >= '3.9'

# Dev dependencies
coverage==7.6.9; python_version >= '3.9'
gcovr==8.2; sys_platform == 'linux'
flake8==7.1.1
pylint==3.3.3; python_version >= '3.9'
