-r common-requirements.txt

# Build dependencies
setuptools==80.8.0; python_version >= '3.9'

# Dev dependencies
coverage==7.8.1; python_version >= '3.9'
flake8==7.2.0; python_version >= '3.9'
gcovr==8.3; python_version >= '3.9' and sys_platform == 'linux'
pylint==3.3.7; python_version >= '3.9'
