name: Bandit

on:
  workflow_call:

jobs:
  analyze:
    name: Analyze python
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
    - name: Checkout the code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        submodules: recursive
    - name: Set up Python 3
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3
    - name: Install dependencies for Python
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Perform Bandit Analysis
      uses: PyCQA/bandit-action@67a458d90fa11fb1463e91e7f4c8f068b5863c7f # v1.0.1
      with:
        ini: .bandit
        targets: ''
