name: CI

on:
  workflow_call:

jobs:
  analyze:
    uses: ./.github/workflows/codeql.yml
    permissions:
      contents: read
      security-events: write

  build-linux:
    runs-on: ubuntu-latest
    name: Build & test on Linux
    permissions:
      contents: read
    env:
      PYTHON_COVERAGE_FILE: coverage-data.python
      NATIVE_COVERAGE_FILE: coverage-data.native
    strategy:
      fail-fast: false
      matrix:
        # If the list of python versions is changed, please make sure that
        # `after_n_builds` flag in codecov.yml is updated accordingly
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14", "pypy3.9", "pypy3.10", "pypy3.11"]
    steps:
      - name: Checkout the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: recursive
      - name: Run CI Checks
        uses: ./.github/actions/run-ci-pipeline
        with:
          python-version: ${{matrix.python-version}}

  build-windows:
    name: Build & test on Windows
    runs-on: windows-latest
    permissions:
      contents: read
    env:
      PYTHON_COVERAGE_FILE: coverage-data.python
    strategy:
      fail-fast: false
      matrix:
        # If the list of python versions is changed, please make sure that
        # `after_n_builds` flag in codecov.yml is updated accordingly
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13.0 - 3.13.3 || 3.13.5 - 3.13", "3.14",
                         "pypy3.9", "pypy3.10", "pypy3.11"]
    steps:
      - name: Checkout the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: recursive
      - name: Run CI Checks
        uses: ./.github/actions/run-ci-pipeline
        with:
          python-version: ${{matrix.python-version}}

  build-wheels:
    name: Build wheels on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    permissions:
      contents: read
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: recursive
      - name: Build wheels
        uses: ./.github/actions/python-packages
