name: Dependabot Auto-approve

on:
  workflow_call:

jobs:
  dependabot-auto-approve:
    permissions:
      actions: write
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Check Dependabot metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a # v2.5.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
      - name: Approve a PR
        run: gh pr review "${{github.event.pull_request.html_url}}" --approve
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Merge a PR
        run: gh pr merge "${{github.event.pull_request.html_url}}" --delete-branch --squash
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Run CI workflow
        run: |
          gh workflow run ci-main-push.yml --ref "${{github.event.pull_request.base.ref}}" \
            --repo "${{github.event.pull_request.base.repo.html_url}}"
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
