name: Publish Python Package

on:
  release:
    types: [published]

jobs:
  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive

      - name: Install dependencies for Python 3.8
        if: matrix.python-version == '3.8'
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-3.8.locked

      # A workaround for lxml 6.0.1+ package
      - name: Install dependencies for PyPy3.9
        if: matrix.python-version == 'pypy3.9'
        run: |
          sudo apt-get install libxml2-dev libxslt1-dev

      - name: Install dependencies for Python
        if: matrix.python-version != '3.8'
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Create source distribution
        run: python -m build --sdist

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: pyitt-cibw-sdist
          path: dist/*.tar.gz
          retention-days: 1

  build_wheels:
    name: Build wheels on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    permissions:
      contents: read
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive

      - name: Build wheels
        uses: ./.github/actions/python-packages

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: pyitt-cibw-wheels-${{matrix.os}}-${{strategy.job-index}}
          path: ./wheelhouse/*.whl
          retention-days: 1

  upload_pypi:
    name: Publish to PyPI
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pyitt
    permissions:
      id-token: write

    steps:
      - name: Download all the dists
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: pyitt-cibw-*
          path: ./dist
          merge-multiple: true
      
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0

  upload_release_artifacts:
    name: Upload artifacts to GitHub Release
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{github.ref}}

      - name: Download all the dists
        id: download-artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: pyitt-cibw-*
          path: dist
          merge-multiple: true

      - name: Upload artifacts
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          for filename in "${{steps.download-artifact.outputs.download-path}}"/*; do
            gh release upload "${{github.ref_name}}" "$filename"
          done
